.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cityinfo {
  margin-top: 50px;
  margin-bottom: 50px;
}

.searchBar {
  width: 100%;
  margin-top: 70px;
}

h2 {
  text-align: center;
  color: orange;
}


/* body{
  background-image: url("http://www.soelden.com/urlaub/images/SD/SO/ort_unterkunft_betriebe/background_wetter,method=render,prop=data.jpg");
  color: orange;
} */


